@if (store.loading()) {
<mat-spinner style="margin: 10vh auto"></mat-spinner>
} @else {

<div class="periodic-container">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (input)="applyFilter(input.value)"
      placeholder="Search by any column, ex. 6.941"
      #input
    />
    <mat-icon matSuffix>search</mat-icon>
    <button
      *ngIf="input.value"
      matSuffix
      mat-icon-button
      type="button"
      (click)="clearFilter(input)"
      matTooltip="Clear search"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <table mat-table [dataSource]="periodics">
    @for (column of columns; track column) {
    <ng-container [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef>
        {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let row">
        {{ column.cell(row) }}
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [style.padding]="'10px 15px'" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
</div>
}
