.popup-handle {
  position: absolute;
  z-index: 200;
  top: 8px;
  right: 8px;
  cursor: grab;
  width: 24px;
  height: 24px;
  color: #ccc;
}

.popup-header {
  color: rgb(112, 112, 112);
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

h2,
p {
  margin: 0;
}

p {
  padding: 0 24px;
}

span {
  padding: 0 24px;
  font-weight: bold;
}
